
.title {
    @apply mb-14 text-center relative;
    font-size: 60px;
    line-height: 40px;
    color: var(--primary--color);

    @screen sm-max {
        @apply mb-5;
        font-size: 24px;
    }

    &-text {
        @apply relative;
        &::after,
        &::before {
            @apply rounded-sm absolute;
            content: '';
            background-color: var(--primary--color);
            width: 80px;
            height: 3px;
            top: 50%;

            @screen sm-max {
                width: 50px;
                height: 2px;
            }
        }
        &::after {
            left: -100px;
            @screen sm-max {
                left: -65px
            }
        }
        &::before {
            right: -100px;
            @screen sm-max {
                right: -65px;
            }
        }
    }
}
.chapters {
    &__container {
        @apply grid justify-center;
        grid-template-columns: (repeat(auto-fill, 355px));
        grid-gap: 2rem;
    }
    &__card {
        @apply p-4 rounded-lg flex justify-center flex-col;
        background-color: #fff;
        width: 360px;
        height: 125px;
        box-shadow: 0 2px 20px rgba(0,0,0,0.1);
        transition: all 0.3s ease-in;
        &:hover {
            @apply cursor-pointer;
            transform: scale(1.05);
            background-color: var(--primary-ligh-color);
            color: #fff !important;
            transition: all 0.3s ease-in;
        }

        &:hover .chapters__text, 
        &:hover .chapters__verses {
            color: #fff;
            transition: all 0.3s ease-in;
        }

        @screen sm-max {
            @apply w-auto;
        }
    }

    &__text,
    &__verses{
        @apply text-gray-500;
        font-size: 14px;
        transition: all 0.3s ease-in;
    }

    &__title {
        @apply font-normal;
        font-size: 24px;
    }
}
