<header>
    <nav class="navbar content-container">
        <ul class="navbar__nav">
            <li class="navbar__nav-item" (click)="closeMenu()"><a class="navbar__nav-item-link" [routerLink]="['home']" routerLinkActive="active">Home</a></li>
            <li class="navbar__nav-item" (click)="closeMenu()"><a class="navbar__nav-item-link" [routerLink]="['chapters']" routerLinkActive="active">Chapters</a></li>
            <!-- <li class="navbar__nav-item" (click)="closeMenu()"><a class="navbar__nav-item-link" >Favourites</a></li>
            <li class="navbar__nav-item" (click)="closeMenu()"><a class="navbar__nav-item-link"
            [routerLink]="['login']" routerLinkActive="active">Login</a></li> -->
        </ul>
    </nav>
</header>