header {
    @apply shadow-sm;
    background-color: var(--primary--color);
}

.navbar {
    height: 60px;
    @apply flex items-center justify-end;
    &__nav {
        @apply flex;

        &-item {
            @apply relative;
            color: #fff;
            transition: color 0.8s ease;
            &:not(:last-child) {
                @apply mr-7;
            }
            &::before {
                @apply bg-white absolute rounded-sm;
                content: '';
                width: 0%;
                height: 2px;
                bottom: -10px;
                left: 0;
            }
            &:hover::before,&:active::before {
                width: 100%;
                transition: width 0.8s ease;
            }

            .active {
                @apply rounded-sm;
                border-bottom: 2px solid #fff;
                transition: color 0.8s ease;
            }

            &-link {
                padding: 0 14px 9px 14px;
            }
        }
    }
}