header {
    @apply shadow-sm border-b-2;

    @screen sm-max {
        @apply bg-white
    }
}

.navbar {
    min-height: 60px;
    @apply flex items-center justify-between;

    @screen sm-max {
        @apply justify-center flex-col py-7 h-screen;
    }

    &__logo {
        @apply rounded-full cursor-pointer bg-transparent;
        width: 50px;
        height: 50px;
        transition: box-shadow 0.2s ease-in;

        @screen sm-max {
            @apply mb-8;
            width: 100px;
            height: 100px;
            margin-left: -72px;
        }

        img {
            @apply w-full h-full;
        }

        &:hover {
            @apply shadow-lg;
            transition: box-shadow 0.2s ease-in;
        }
    }
    &__nav {
        @apply flex;

        @screen sm-max {
            @apply flex-col;
        }
        &-item {
            @apply relative mr-7;
            transition: color 0.8s ease;

            @screen sm-max {
                @apply text-3xl;
            }

            &:not(:last-child) {
                @apply mr-7;
                @screen sm-max {
                    @apply mr-0 mb-7;
                }
            }

            &::before {
                @apply absolute rounded-sm;
                content: '';
                background-color: var(--primary--color);
                width: 0%;
                height: 2px;
                bottom: -19px;
                left: 0;
                
                @screen sm-max {
                    bottom: -11px;
                }
            }

            &:hover::before,&:active::before {
                width: 100%;
                transition: width 0.8s ease;
            }

            .active {
                @apply rounded-sm;
                border-bottom: 2px solid var(--primary--color);
                transition: color 0.8s ease 0.8s;
            }

            &-link {
                padding: 0 14px 18px 14px;

                @screen sm-max {
                    @apply pl-0;
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.langague {
    @apply flex items-center cursor-pointer;

    &__icon {
        @apply mr-2;
        height: 15px;
    }

    .p-dropdown {
        @apply bg-transparent;
        border: none;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none;
    }
    .p-dropdown .p-dropdown-label {
        @apply p-0;
    }
}