.home {
    &__content {
        @apply flex;
    }
    
    &__text {
        width: 65%;
        font-size: 18px;
        line-height: 30px;

        @screen md-max {
            @apply w-full;
        }
    }
    &__image {
        height: 100%;
        @screen sm-max {
            @apply h-auto;
        }
    }
}



.right-arrow-icon {
    animation: ping 2s ease infinite;
}

@keyframes ping {
    0% {
        transform: translateX(0);
    }
    50% {
        transform:  translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}