.home {
    &__content {
        @apply flex;
        @screen md-max {
            @apply flex-col flex-col-reverse;   
        }
    }
    
    &__text {
        @apply flex flex-col flex-grow mr-20 justify-center ;
        width: 65%;
        font-size: 18px;
        line-height: 30px;
        @screen md-max {
            @apply w-full mt-5;   
        }
    }
    &__image {
        height: 100%;
        @screen sm-max {
            @apply h-auto;
        }
        img {
            @apply w-full h-full;
        }
    }
}

.redirect-button {
    @apply flex items-center mt-5 justify-center py-2 rounded-full;
    width: 220px;
    color: #f6f9fc;
    background-color: var(--primary--color);
    transition: all 0.2s ease-in;
    &:hover {
        background-color: var( --primary-ligh-color);
        transition: all 0.2s ease-in;
    }
}

.right-arrow-icon {
    animation: ping 2s ease infinite;
}

@keyframes ping {
    0% {
        transform: translateX(0);
    }
    50% {
        transform:  translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.highlight-word {
    color: var(--primary--color);
}