<section class="home__section section content-container">
    <div class="flex md-max:flex-col md-max:flex-col-reverse">
        <div class="home__text flex flex-col flex-grow mr-20 justify-center md-max:mt-5">
            <p>
                Bhagavad-gita, comprised of <span class="primary-text-color">700 Sanskrit verses</span>, this is 
                India’s single most important literary and
                philososphical contribution. It stands unrivalled as a
                timeless classic its message just as valid and relevant
                today as <span class="primary-text-color">5,000 years ago</span> when it was first spoken and
                recorded.
            </p> <br/>

            <p>
                Sometimes called <span class="primary-text-color">Gitopanishad</span> (as the essence of
                the 108 Upanishads), Bhagavad-gita is regarded as the
                most important book of the Vedic literature, the vast body
                of ancient knowledge which is the foundation of <span class="primary-text-color">Vedic
                    culture</span>, <span class="primary-text-color"> philosophy</span> and<span class="primary-text-color"> spirituality</span>.
            </p><br/>

            <p>
                Bhagavad-gita gives a glimpse into India’s historical
            past in the glory days of Vedic civilization, but while
            archeologists and anthropologists dig and sift earth for
            bones and artifacts of that period, the spiritual substance
            of the Vedic age continues to live on in the immortal words
            of Bhagavad-gita and in the lives of persons who follow its
            meaning.
            </p> <br/>

            <p>
                Great thinkers of the Western world have studied
                Bhagavad-gita the American transcendentalists Ralph
                Waldo Emerson and Henry David Thoreau, the Russian
                writer Tolstoy, Goethe, Carl Jung, Albert Einstein, Dr.
                Albert Schweizer, Hermann Hesse, Rudolph Steiner,
                Aldous Huxley and many more.
            </p> <br/>

            <button class="button mt-5" (click)="redirectToChapter()">
                Start Reading <i class="pi pi-arrow-right ml-5 right-arrow-icon"></i>
            </button>
        </div>
        <div class="home__image">
            <img src="assets/krishanArjuna.png" alt="krishna-arjuna" class="w-full h-full">
        </div>
    </div>
    
</section>