<div class="navigation" [ngClass]="{'open-menu': isMenuOpen}">
    <app-navbar (closeSidebar)="openMenu()"></app-navbar>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>

<button class="menu-toggle" *ngIf="isMobileScreen" (click)="openMenu()" [ngClass]="{paddingClass: isMenuOpen}">
    <span class="line" [ngClass]="{'line1': isMenuOpen}"></span>
    <span class="line" [ngClass]="{'line2': isMenuOpen}"></span>
    <span class="line" [ngClass]="{'line3': isMenuOpen}"></span>
</button>